/* Body Global */
body{
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f0fff0;
}


/* Global */
.container{
  width: 60%;
  margin: auto;
  overflow: hidden;
}

#begin h1{
  text-align: center;
  border-bottom: #8a2be2 5px solid;
}

img{
  width: 100%;
  height: auto;
}

p{
  text-align: center;
}
/* Header Global*/
header{
  background-color: #8a2be2;
  color: #ffffff;
  padding-top: 30px;
  min-height :70px;
  border-bottom: #00FF00 5px solid;
  width: 100%;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

Header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #00FF00;
  font-weight: bold;
}

header a:hover{
  color: #858585;
  font-weight: bold;
}


/* index.html Styling*/
/* Rows Secion*/
#rows .column{
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  width: 33.33%;
}

#rows .row::after{
  content:"";
  display: table;
  clear: both;
}

#rows .column img{
  width: 75%;
  padding-top: 30px;
  padding-bottom: 15px;
}


/* aboutme.html Styling */
/* Aboutme Section */
#aboutme .grow{
  padding-bottom: 15px;
}

#aboutme .grow h2{
  border-top: #8a2be2 1px solid;
  border-left: #8a2be2 3px solid;
  border-right: #8a2be2 3px solid;
  padding-left: 1em;
}

#aboutme .adult h2{
  border-top: #8a2be2 1px solid;
  border-left: #8a2be2 3px solid;
  border-right: #8a2be2 3px solid;
  padding-left: 1em;
}

#aboutme .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-bottom: 15px;
}

/* Myhobbies Section*/
#myhobbies{
  padding-bottom: 15px;
}

#myhobbies h2{
  border-top: #8a2be2 1px solid;
  border-left: #8a2be2 3px solid;
  border-right: #8a2be2 3px solid;
  padding-left: 1em;
}

/* Hobbies Section */
#hobbies{
  margin-top: 20px;
  padding-bottom: 15px;
}

#hobbies h2{
  border-top: #8a2be2 1px solid;
  border-left: #8a2be2 3px solid;
  border-right: #8a2be2 3px solid;
  padding-left: 1em;
}

#hobbies .hobby{
  text-align: center;
  float: left;
  width: 25%;
}

#hobbies .hobby a{
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
}

#hobbies .hobby img{
  width: 80%;
}
/* simpleskills.html Styling*/
/* Opening secion */
#opening p{
  font-size: 22px;
  width: 80%;
  margin: auto;
  padding-bottom: 1em;
}

/* Ingredients section */
#ingredients h2{
  border-top: #8a2be2 1px solid;
  border-left: #8a2be2 3px solid;
  border-right: #8a2be2 3px solid;
  padding-left: 1em;
}

#ingredients table{
  width: 80%;
  background-color: #8a2be2;
  color: #ffffff;
}

#ingredients th{
  font-size: 21px;
  height: 25px;
}

#ingredients td{
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
#ingredients table, th, td{
  border: #000000 5px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

/* Preparation Section */
#preparation h2{
  border-top: #8a2be2 1px solid;
  border-left: #8a2be2 3px solid;
  border-right: #8a2be2 3px solid;
  padding-left: 1em;
}

#preparation li{
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Cooking Section */
#cooking h2{
  border-top: #8a2be2 1px solid;
  border-left: #8a2be2 3px solid;
  border-right: #8a2be2 3px solid;
  padding-left: 1em;
}

#cooking li{
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#cooking .step{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 10px;
}

/* Boxes section */
#boxes{
  margin-top: 20px;
}

#boxes .column{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

#boxes h2{
  text-align: center;
  border-top: #8a2be2 1px solid;
  border-left: #8a2be2 3px solid;
  border-right: #8a2be2 3px solid;
  padding-left: 1em;
}

/* traveling.html styling */
/* Photos Section */
.desc{
  padding: 5px;
  text-align: center;
}

.photos h2{
  text-align: center;
  border: #8a2be2 3px solid;
  background-color: #00FF00;
}

.gallery{
  border: 1px solid #cccccc;
  float: left;
  width: 32%;
}
.gallery:hover{
  border: 2px solid #777777;
}

.gallery img{
  width: 100%;
  height: auto;
}
/* myhobby.html styling */
/* description class */
.description h2{
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  border-top: #8a2be2 1px solid;
  border-left: #8a2be2 3px solid;
  border-right: #8a2be2 3px solid;
}

.description p{
  font-size: 25px;
}

/* Gaming Section */
#game1{
  text-align: center;
  display: block;
  float: left;
  width: 33.3333%;
}

/* Gaming2 Section */
#game2{
  text-align: center;
  display: block;
  float: right;
  width: 33.3333%;
}

/* Video Section */

.video-responsive{
  display: block;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}
.video-responsive iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Footer Global*/
footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #8a2be2;
  text-align: center;
  border-top: #00FF00 5px solid;
}

footer #back_top a{
  float: right;
  color: #00FF00;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 18px;
}

#promote img{
  float: left;
  max-width: 1.5em;
  min-height: 1.5em;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 18px;
  border-radius: 15px 50px;
}

#promote img:hover{
  opacity: 0.5;
}
